<div >
    <div layout="row" ng-class="{'loader-display' : loader}" layout-align="space-around" style="margin-top:80px;">
        <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
    </div>
    <div layout="row" layout-sm="column" ng-class="{'loader-display' : !loader}">
        <div flex>

            <label style="background-color: #D32F2F; color:#FFF; text-transform:uppercase; margin-top: 10px; padding: 8px;">Balance Commision Report</label>
            <hr style=" margin-bottom:20px; color:#ff0000;" />
            <div style="height: 200px;padding :10px 50px;">
                <div style="overflow: auto;">
                    <table wt-responsive-table border="1">
                        <tr>
                            <th class="padd">Lorry No</th>
                            <th class="padd">Loading Date</th>
                        </tr>
                        <tr style="height:40px;" ng-if="balancecommissionList.length==0">
                            <td colspan="2" align="center"><b>--- No Data ---</b></td>
                        </tr>
                        <tr ng-repeat="ddd in balancecommissionList">
                            <td class="padd" ng-click="gotonextpage(ddd.commissionid)">{{ddd.lorryno}}</td>
                            <td class="padd">{{ddd.loadingdate}}</td>
                        </tr>

                    </table>
                </div>
            </div>

            <label style="background-color: #D32F2F; color:#FFF; text-transform:uppercase; margin-top: 10px; padding: 8px;">Amount Sent Date Report</label>
            <hr style=" margin-bottom:20px; color:#ff0000;" />
            <div style="height: 200px;padding :10px 50px;">
                <div style="overflow: auto;">
                    <table wt-responsive-table border="1">
                        <tr>
                            <th class="padd">Lorry No</th>
                            <th class="padd">Loading Date</th>
                        </tr>
                        <tr style="height:40px;" ng-if="balancereceiveddatecommitionList.length==0">
                            <td colspan="2" align="center"><b>--- No Data ---</b></td>
                        </tr>
                        <tr ng-repeat="ddd in balancereceiveddatecommitionList">
                            <td class="padd" ng-click="gotonextpage(ddd.commissionid)">{{ddd.lorryno}}</td>
                            <td class="padd">{{ddd.loadingdate}}</td>
                        </tr>

                    </table>
                    </div>
                </div>

            </div>
        <div flex>

            <label style="background-color: #D32F2F; color:#FFF; text-transform:uppercase; margin-top: 10px; padding: 8px;">Acknowledgement Report</label>
            <hr style=" margin-bottom:20px; color:#ff0000;" />
            <div style="height: 200px;padding :10px 50px;">
                <div style="overflow: auto;">
                    <table wt-responsive-table border="1">
                        <tr>
                            <th class="padd">Lorry No</th>
                            <th class="padd">Loading Date</th>
                        </tr>
                        <tr style="height:40px;" ng-if="ackcommitionList.length==0">
                            <td colspan="2" align="center"><b>--- No Data ---</b></td>
                        </tr>
                        <tr ng-repeat="ddd in ackcommitionList">
                            <td class="padd" ng-click="gotonextpage(ddd.commissionid)">{{ddd.lorryno}}</td>
                            <td class="padd">{{ddd.loadingdate}}</td>
                        </tr>

                    </table>
                </div>
            </div>

            <label style="background-color: #D32F2F; color:#FFF; text-transform:uppercase; margin-top: 10px; padding: 8px;">Balance Error Check Report</label>
            <hr style=" margin-bottom:20px; color:#ff0000;" />
            <div style="height: 200px;padding :10px 50px;">
                <div style="overflow: auto;">
                    <table wt-responsive-table border="1">
                        <tr>
                            <th class="padd">Lorry No</th>
                            <th class="padd">Loading Date</th>
                        </tr>
                        <tr style="height:40px;" ng-if="balanceerrorcommitionList.length==0">
                            <td colspan="2" align="center"><b>--- No Data ---</b></td>
                        </tr>
                        <tr ng-repeat="dd in balanceerrorcommitionList">
                            <td class="padd" ng-click="gotonextpage(dd.commissionid)">{{dd.lorryno}}</td>
                            <td class="padd">{{dd.loadingdate}}</td>
                        </tr>

                    </table>
                    </div>
                </div>
            </div>
        </div>
</div>
